section.page-wrapper__content
    section.page-wrapper__slider
        include slider/slider
    section.page-wrapper__products
        include products/products
    section.page-wrapper__company-info
        include company info/company