doctype
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        block title
            title="Удмуртские долота"
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="description", content="")
        meta(name="yandex", content="index, nofollow")
        meta(name="keywords", content="")
        meta(name ="author", content ="Litvinov Yuriy")
        link(rel="shortcut icon", href="favicon.ico", type="image/ico")
    body
        main.page-wrapper
            block header
                include ../modules/header/header
            block content
            block footer
                include ../modules/footer/footer