.products{
    @include display-flex();
    flex-wrap: wrap;
    transition: .3s;
    &.full-height {
        height: 100%;
    }
}

.main-products {
    overflow: hidden;
    background: $system-color-grey;
    height: auto;
    padding: 40px 60px 10px;
    &__list{
        width: 200px;
        height: auto;
        margin-right: 10px;
        margin-bottom: 30px;
    }
    &__image{
        position: relative;
        width: 200px;
        height: 140px;
        margin-bottom: 10px;
        background-color: $system-color-green-dark;
        background: $system-background-gradient;
        border-radius: 5px;
        box-shadow: inset 0px 1px 8.5px -2px rgba(0,0,0,0.75);
        img{
            @include position-center($center-x: 50%, $center-y: 50%);
        }    
    }
    &__name{
        a{
            text-decoration: none;
            border-bottom: 1px solid $system-color-green-light;
        }
    }
    &__block-button{
        width: 100%;
        display: none;
        background: $system-color-grey;
        padding-bottom: 20px;
    }
    &__button{
        display: block;
        width: 170px;
        height: 35px;
        font-size: $font-size-smaller-xs;
        border-radius: 5px;
        color: $white-color;
        background: $system-background-gradient;
        margin: 0 auto;
    }
}

@media (max-width: $laptop-min) {
    .main-products {
        justify-content: space-around;
    }
}

@media (max-width: $tablet) {
    .main-products {
        justify-content: center;
    }
}

@media (max-width: $mobile-large) {
    .main-products {
        // &__list:nth-child(n+7){
        //     display: none;
        // }
        &__list:nth-child(2n) {
            margin-right: 0;
        }
        &__block-button{
            display: block;
        }
    }
}

@media (max-width: $mobile-big) {
    // .main-products{
    //     &__list:nth-child(n+4){
    //         display: none;
    //     }
    // }
}

@media (max-width: 530px) {
    .main-products{
        height: 630px;
        &__list {
            margin-right: 0;
        }
    }

}

@media (max-width: $mobile) {
    .main-products{
        &__list {
            margin-right: 0;
        }
    }
}