-const customClass ='main-products';
-
    const products = [
        {
            'image': './assets/image-product',
            'imageFormat': 'png',
            'productName': 'Долота PDC',
            'link': '#'
        },
        {
            'image': './assets/image-product',
            'imageFormat': 'png',
            'productName': 'Бурголовки PDC',
            'link': '#'
        },
        {
            'image': './assets/image-product',
            'imageFormat': 'png',
            'productName': 'Бицентричные долота PDC',
            'link': '#'
        },
        {
            'image': './assets/image-product',
            'imageFormat': 'png',
            'productName': 'Твердосплавные долота',
            'link': '#'
        },
        {
            'image': './assets/image-product',
            'imageFormat': 'png',
            'productName': 'Подвески «хвостовиков»',
            'link': '#'
        },
        {
            'image': './assets/image-product',
            'imageFormat': 'png',
            'productName': 'Оборудование для отбора керна',
            'link': '#'
        },
        {
            'image': './assets/image-product',
            'imageFormat': 'png',
            'productName': 'Калибраторы и центраторы',
            'link': '#'
        },
        {
            'image': './assets/image-product',
            'imageFormat': 'png',
            'productName': 'Клапаны для ВЗД',
            'link': '#'
        },
        {
            'image': './assets/image-product',
            'imageFormat': 'png',
            'productName': 'Оборудование для цементирования скважин',
            'link': '#'
        },
        {
            'image': './assets/image-product',
            'imageFormat': 'png',
            'productName': 'Технологическая оснастка обсадных колонн',
            'link': '#'
        },
        {
            'image': './assets/image-product',
            'imageFormat': 'png',
            'productName': 'Вспомогательное оборудование',
            'link': '#'
        }
    ];

section.products.main-products
    +product-list(customClass, products)
    .main-products__block-button
        button.main-products__button Весь каталог