.slider {
    position: relative;
    @include display-flex($justify: space-between, $items: center);
    &__arrow{
        position: absolute;
        cursor: pointer;
        &_left{
            left: 0;
        }
        &_right{
            right: 0;
            transform: rotate(180deg);
        }
        &_block{
            &::before,
            &::after{ 
                @include psevdo-elements($width: 60px, $height: 2px, $top: 50%);
                background: $white-color;
                opacity: 0.3;
                transform-origin: 0 100%;
            }
            &::before {
                transform: rotate(45deg);
            }
            &::after {
                transform: rotate(-45deg);
            }
        }
    }
    &__item{
        @include display-flex($justify: space-between, $items: center);
        display: inline-flex;
        white-space: normal;
        transition: .8s;
        transition-timing-function: ease-out;
        width: 100%;
        height: 100%;
        margin-left: 0;
        &.active-right {
            margin-left: -100%;
        }
    }
    &__items{
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        height: inherit;
    }
}
.main-slider {
    padding: 0 8%;
    height: inherit;

    &__arrow{
        width: 43px;
        height: 84px;
    }
    
    &__item{
        position: relative;
        height: inherit;
        overflow: hidden;
        z-index: 1;
    }

    &__block-info{
        width: calc(100% - 300px);
        height: 140px;
    }

    &__name-slide{
        position: relative;
        display: inline-block;
        width: auto;
        height: 40px;
        font-family: $roboto;
        font-weight: 700;
        text-transform: uppercase;
        font-size: $font-size-large;
        color: $white-color;
        &::after{
            @include psevdo-elements( $left: 0, $bottom: 0, $width: 100%, $height: 1px);
            background: $white-color;
        }
    }

    &__descriptions{
        padding-top: 17px;
        color: $white-color;
        font-size: $font-size-middle;
    }

    &__block-image{
        position: relative;
        width: 300px;
        height: 100%;
    }

    &__image_shadow_dark{
        position: absolute;
        z-index: 0;
        top: -10%;
        left: 43%;
        opacity: .5;
        width: 200px;
        height: 500px;
    }

    &__image_shadow_light{
        position: absolute;
        z-index: 0;
        top: -70%;
        left: -270px;
        opacity: .3;
    }

    &__image_main{
        position: absolute;
        left: 15%;
        top: -58%;
        margin-top: 160px;
        z-index: 5;
    }
}

@media (max-width: $laptop-min) {
    .main-slider{
        &__name-slide{
            height: 28px;
            font-size: $font-size-middle;
        }
        &__descriptions{
            font-size: 16px;
        }
    }
}

@media (max-width: $tablet) {
    .main-slider{
        padding: 0;
        &__arrow{
            display: none;
        }
    }
}

@media (max-width: $mobile-big) {
    .main-slider{
        align-items: flex-start;
        padding-top: 30px!important;
        &__item{
            flex-direction: column;
            justify-content: flex-start;
            height: 551px;
            overflow-x: inherit;
        }
        &__block-info{
            width: 100%;
            height: 140px;
        }
        &__block-image{
            width: 100%;
            height: 280px;
            position: relative;
            overflow: hidden;
        }
        &__image_main{
            top: 0;
            left: 40%;
            margin-top: 0;
        }
        &__image_shadow_dark{
            left: 58%;
        }
        &__image_shadow_light{
            top: -20%;
            left: -100px;
        }
    }
}

@media (max-width: $mobile-middle) {
    .main-slider{
        &__block-info{
            padding: 0 30px;
        }
        &__image_main{
            left: 20%;
        }
        &__image_shadow_dark{
            left: 48%;
        }
        &__image_shadow_light{
            top: -15%;
            left: -150px;
        }
    }
}