-
    const mainSlider = {
        'customSlider': 'main-slider' ,
        'customSlide': 'main-slider__item' ,
        'arrowIcon': '',
        'slides': [
            {
                'head': 'Долота Серии ST',
                'body': 'Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque perferendis atque, explicabo ex iste esse consectetur modi, tempore facere totam dolores doloremque quam eaque pariatur placeat mollitia excepturi nulla adipisci.',
                'img': './assets/slide-st',
                'format': 'png'
            },
            {
                'head': 'Долота Серии ST',
                'body': 'Lorem ipsum dolor sit amet consectetur, adipisicing elit.',
                'img': './assets/slide-st',
                'format': 'png'
            },
            {
                'head': 'Долота Серии ST',
                'body': 'Долота PDC серии ST предназначены для бурения сплошным вертикальных, наклонно-направленных и горизонтальных скважин.',
                'img': './assets/slide-st',
                'format': 'png'
            },
            {
                'head': 'Долота Серии ST',
                'body': '',
                'img': './assets/slide-st',
                'format': 'png'
            }
        ]
    }

+slider(mainSlider)