div.page-wrapper__content
    div.page-wrapper__slider
        include slider/slider
    div.page-wrapper__products
        include products/products
    div.page-wrapper__company-info
        include company/company