-
    const companyBodyList = [
        'долота PDC для бурения вертикальных, наклонно-направленных и горизонтальных скважин;',
        'бурильные головки PDC;',
        'бицентричные долота PDC;',
        'твердосплавные долота для разбуривания цементных стаканов и оснастки;',
        'калибраторы, центраторы и стабилизаторы спиральные и прямолопастные;',
        'керноотборные снаряды и кернорватели;',
        'оборудование для подвески «хвостовиков»;',
        'оборудование для цементирования: пакеры гидравлические и гидромеханические, муфты ступенчатого цементирования;',
        'оснастка обсадных колонн: центраторы, турбулизаторы, клапаны обратные и башмаки колонные;',
        'клапаны для ВЗД перепускные и обратные.'
    ];
-
    const companyArticles = [
        {
            'date': '28 марта',
            'link': '/',
            'description':  'СП ЗАО «УДОЛ» сегодня - это динамично развивающаяся современная компания, зарекомендовавшая себя как надежный поставщик'
        },
        {
            'date': '20 марта',
            'description':  'Стремлением к постоянному совершенствованию производимого оборудования, расширением ассортимента'
        },
        {
            'date': '17 марта',
            'description':  'На сегодняшний день нашим предприятием разработаны и выпускаются'
        },
        {
            'date': '11 марта',
            'description':  'Долота PDC для бурения вертикальных, наклонно-направленных и горизонтальных скважин'
        }
    ];

section.company-about
    .company-header.company-about__header
        h2 О компании
    .company-about__main
        p.company-about__history Совместное предприятие "Удмуртские долота" (СП ЗАО "УДОЛ") организованое в 1996 году компаниями "Diamond Products International, Inc." (США), ОАО "Удмуртнефть" и ГПО "Воткинский завод" (Россия), производит высококачественное буровое оборудование, применяя передовые технологии, накопленный опыт и знания с целью повышения эффективности работы буровых и сервисных компаний.
        div.company-about__today
            p.company-about__today_head
                | На сегодняшний день нашим предприятием разработаны и выпускаются:
            div.company-about__today_body
                +listing('company-about', companyBodyList)
section.company-news
    .company-header.company-news__header
        h2 Новости
    div.company-news__articles
        +articles('company-news', companyArticles)
    div.company-news__sertificate
        button.company-news__sertificate-button
            +imgOpt("company-news__image company-news__image_first", "./assets/sertificate-1", "Sertificate1", "png")
            +imgOpt("company-news__image company-news__image_two", "./assets/sertificate-2", "Sertificate2", "png")
            +imgOpt("company-news__image company-news__image_three", "./assets/sertificate-3", "Sertificate3", "png")
            | Сертификаты
