div.page-mobile-menu
    header.page-mobile-menu__header
        +notification('page-mobile-menu')
        .page-mobile-menu__button_close
    div.page-mobile-menu__main
        +menu('mobile-menu', menuItems)
    footer.page-mobile-menu__footer
        +contacts('page-mobile-menu')