.page-footer {
    @include display-flex($justify: space-between, $items: center);
    display: flex;
    justify-content: space-between;
    height: 124px;
    width: 100%;
    padding: 0 $main-padding;
    max-width: $desktop - 40px;
    background: $system-color-grey;
    &__navigate{
        width: 253px;
        height: 31px;
        @include display-flex($justify: space-between);
        a{
            color: $system-color-black;
            font-size: $font-size-middle;
            font-family: $roboto-bold;
        }
    }

    &__copyright{
        font-family: $andale-mono-ipa;
        font-size: $font-size-smaller;
    }

    &__svg{
        width: 183px;
        height: 34px;
        fill: $system-color-green-light;
    }
}

@media (max-width: $laptop-min) {
    .page-footer{
        &__navigate{
            width: auto;
            a{
              &:first-child{
                  margin-right: 15px;
              }
            }
        }
    }
}
@media (max-width: $tablet) {
    .page-footer{
        @include display-flex($direct: column, $justify: space-betweem, $items: flex-start);
        height: 221px;
        padding: 40px 30px;
    }
}