doctype
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        title="Удмуртские долота"
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="description", content="")
        meta(name="yandex", content="index, nofollow")
        meta(name="keywords", content="")
        meta(name ="author", content ="Litvinov Yuriy")
        link(rel="shortcut icon", href="favicon.ico", type="image/ico")
    body
        main.wrapper
            header
                section.headerHead
                    a(href="http://") 
                        img(src="./assets/logo.png", alt="Logo")
                        span удмуртские долота
                    div.block-contactInfo
                        span Телефон\факс:
                        span.infoNumber (3412) 48-32-98
                        span e-mail:
                            a(href="bit@udol.ru") bit@udol.ru
                    div.block-enterAccount
                        div.logout
                            a(href="http://") Регистрация
                            button.login
                                img(src="./assets/login.svg", alt="login")
                                | Вход
                        div.find
                            input(type="search", name="Finder", placeholder="Поиск")
                nav.nav-mainMenu
            section.wrap
            footer