-
    const mainSlider = {
        'customSlider': 'main-slider' ,
        'customSlide': 'main-slider__item' ,
        'arrowIcon': '',
        'slides': [
            {
                'head': 'Долота Серии ST',
                'body': 'Долота PDC серии ST предназначены для бурения сплошным вертикальных, наклонно-направленных и горизонтальных скважин.',
                'img': '../../assets/slide-st.png',
            }
        ]
    }

+slider(mainSlider)